<!doctype html>
<html>
<head>
	<title>JeffLee Hospital Website</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    {{#each jsscripts}}
    <script src="/static/{{this}}"></script>
    {{/each}}
</head>
<body>
  <header class="header-title"><i class="fa-solid fa-house-medical"></i>  JeffLee Hospital Website</header>
  <div class="topnav">
<ul>
  <li class="nonhome"><a href="/">Home</a></li>
  <li class="nonhome"><a href="/patient">Patient</a></li>
  <li class="nonhome"><a href="/doctor">Doctor</a></li>
  <li class="nonhome"><a href="/medication">Medication</a></li>
  <li class="nonhome"><a href="/pharmacy">Pharmacy</a></li>
  <li class="nonhome"><a href="mediphar">Mediphar</a></li>
  <li class="nonhome"><a href="/diagnosis">Diagnosis</a></li>
</ul>
</div>
<div class = "mainbody">
	{{{body}}}
</div>
</body>
</html>