<html>
{{#each foo}}
{{this}}
{{/each}}
<h3>Add new Medication:</h3>
<form id="addperson" action="/medication2" method="post">
    Medication Name: <input type="text" name="medication_name"><br>
    Medication Address: <input type="text" name="manufacturer"><br>
    
    <input type="submit" value="Submit">
 </form>
<br/>

<h3>Current Medication:</h3>
<table>
    <thead> 
        <th>ID</th> 
        <th>Name</th> 
        <th>Address</th> 
    </thead> 
    <tbody>
        {{#each medication2}} 
        <tr> 
            <td>{{medication_id}}</td> 
            <td>{{medication_name}}</td> 
            <td>{{manufacturer}}</td> 
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
</html>